* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.outer {
  background-color: #41036e;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  margin-bottom: 20px;
}

.border {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 1px 5px 40px rgba(0, 0, 0, 0.6);
}

.typing {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #721591;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.list {
  width: 100%;
  max-height: calc(80vh - 100px);
  overflow-y: auto;
  color: black;
  text-transform: capitalize;
  font-weight: bold;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #7d00cb;
  padding: 10px 0;
  word-break: break-all;
  overflow-y: auto;
  width: 280px;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-item.completed {
  text-decoration: line-through;
  color: #cbcbcb;
}

.actions button {
  background-color: transparent;
  color: #ffadad;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  font-size: 20px;
}

.actions button:hover {
  color: #ff1717;
  
}
.check{
  color: rgb(186, 241, 186);

}
.check:hover{
  color: rgb(25, 255, 25);
}
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item span {
  margin-right: 10px;
}

.actions {
  display: flex;
  gap: 10px;
}

